:root {
    font-size: 62.5%;
    background-color: rgba(139, 190, 177, 0.3);
}

* {
    color: #3a3a3a;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    font-size: 4.8rem;
    padding: 5rem;
    margin: 0 auto;
}

h3 {
    font-size: 3.2rem;
    padding: 2.5rem;
    margin-left: 13rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    font-size: 2.4rem;
    border: 1px solid rgb(46, 71, 87);
    border-radius: 0.4rem;
    padding: 1rem;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 2rem;
    background-color: rgba(255, 255, 255, 0.5);
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1rem 0 rgba(92, 175, 176, 0.5);
    transform: translate(-0.1rem);
    transition: transform 200ms;
}

349px