:root {
    font-size: 62.5%;
    background-color: rgba(139, 190, 177, 0.3);
}

* {
    color: #3a3a3a;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-size: 2.4rem;
    margin-top: 2rem;
    margin-left: 2rem;
}

h1, h2, h3 {
    padding: 2rem;
}

.option-container {
    display: flex;
    padding: 1rem;
    margin: 0 auto;
    margin-bottom: 0.5rem;
    text-align: center;
    width: 50%;
    font-size: 1.8rem;
    border: 0.1rem solid rgb(46, 71, 87);
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.5);
}

.option-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1rem 0 rgba(92, 175, 176, 0.5);
    transform: translate(-0.1rem);
    transition: transform 200ms;
}