/* [Video 3b](https://www.youtube.com/watch?v=IK257Ln0MZc) */

:root {
    font-size: 62.5%;
    background-color: rgba(139, 190, 177, 0.3);
}

* { 
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer {
    position: sticky;
}

p {
    font-size: 2.4rem;
    margin-top: 1.5rem;
    margin-left: 2rem;
}

h1, h2 {
    padding: 2rem;
    text-align: center;
    margin:0 auto;
}

h3 {
    font-size: 2.5rem;
    padding: 2rem;
    margin: 0 auto;
    text-align: center;
    max-width: 95%;
}

.option-container {
    display: flex;
    padding: 1rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    text-align: center;
    width: 50%;
    font-size: 1.8rem;
    border: 0.1rem solid rgb(46, 71, 87);
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.3);
}

.option-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1rem 0 rgba(92, 175, 176, 0.5);
    transform: translate(-0.1rem);
    transition: transform 200ms;
}

.prefix {
    width: 20%;
    height: 10%;
    padding: 1.5rem;
    color: rgb(255, 255, 255);
    background-color: rgb(53, 114, 116);
    border-radius: 0.4rem;
}

.option {
    width: 100%;
    padding: 1rem;
}

.score-display {
    text-align: center;
    font-size: 5rem;
    margin-left: 1rem;
}

#question {
    margin:3rem 0 2rem 2rem;
}

#correctScore {
    color: green;
}

#incorrectScore {
    color: red;
}

#letUserKnowInteractively {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 2rem;
    margin-left: 2rem;
    max-width: 80%;
}


#progressOuterDiv {
    border: 0.1rem solid rgb(72, 96, 115);
    background-color: transparent;
    width: 20rem;
}

#progressInnerDiv {
    background-color: rgb(53, 114, 116);
    width:10%;
    height:7rem;
}

#score-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    padding-top: 2rem;
    font-size: 2rem;
    max-width: 80%;
}

#quizContainer {
    max-height: 1000px;
}

/* https://docs.microsoft.com/en-us/windows/apps/design/layout/screen-sizes-and-breakpoints-for-responsive-design */
/* https://www.freecodecamp.org/news/css-media-queries-breakpoints-media-types-standard-resolutions-and-more/ */
/* https://www.w3schools.com/css/css_rwd_mediaqueries.asp */

/* Phones */
@media screen and (max-width: 480px) {
    p {
        font-size: 2rem;
    }
    
    h3 {
        font-size: 2rem;
        padding: 0;
    }

    .question-text > p {
        margin-right: 0.1rem;
        margin-top: 0.7rem;
    }

    .score-display {
        font-size: 3rem;
    }

    #progressOuterDiv {
        width: 10rem;
        height: 4rem;
    }
    
    #progressInnerDiv {
        width:10%;
        height:4rem;
    }
}

/* Tablets */ 
@media screen and (max-width: 768px) {
    .option-container {
        width: 80%;
    }
}