:root {
    font-size: 62.5%;
    background-color: rgba(139, 190, 177, 0.3);
}

* { 
    color: #3a3a3a;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-size: 2.4rem;
    margin-top: 1.5rem;
    margin-left: 2rem;
}

h1, h2 {
    padding: 2rem;
    text-align: center;
    margin:0 auto;
}

h3 {
    font-size: 2.5rem;
    padding: 2rem;
    margin: 0 auto;
    text-align: center;
    max-width: 80%;
}

.option-container {
    display: flex;
    padding: 1rem;
    margin: 0 auto;
    margin-bottom: 0.5rem;
    text-align: center;
    width: 50%;
    font-size: 1.8rem;
    border: 0.1rem solid rgb(46, 71, 87);
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.5);
}

.option-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1rem 0 rgba(92, 175, 176, 0.5);
    transform: translate(-0.1rem);
    transition: transform 200ms;
}

.prefix {
    width: 15%;
    height: 10%;
    padding: 1rem;
    color: rgb(255, 255, 255);
    background-color: rgb(92, 175, 176);
}

.option {
    width: 100%;
    padding: 1rem;
    color: #3a3a3a;
}

.score-display {
    text-align: center;
    font-size: 5rem;
    margin-left: 1rem;
}

#letUserKnowInteractively {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 3rem;
    margin-left: 2rem;
    max-width: 80%;
}


#progressOuterDiv {
    border: 0.1rem solid rgb(72, 96, 115);
    background-color: transparent;
    width: 20rem;
}

#progressInnerDiv {
    background-color: rgba(92, 175, 176, 0.8);
    width:10%;
    height:7rem;
}

#score-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    padding-top: 2rem;
    font-size: 2rem;
    max-width: 80%;
}