/* https://developer.mozilla.org/en-US/docs/Web/CSS/font-size */
/* https://teamtreehouse.com/community/what-is-the-difference-between-and-root-functionalities */

/* Make root font size 10px*/
:root {
    font-size: 62.5%;
    background-color: rgba(139, 190, 177, 0.3);
}

* {
    color: #3a3a3a;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2 {
    text-align: center;
    font-size: 5.4rem;
    width: 100%;
    margin-bottom: 3rem;
}

.fa-flask {
    margin-right: 2rem;
    font-size: 7.2rem;
}

/* https://www.freecodecamp.org/news/learn-css-flexbox/ */
/* https://www.youtube.com/watch?v=tXIhdp5R7sc */
/* https://www.w3schools.com/css/css3_flexbox.asp) */
/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 100vh;
    width: 100vw;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    font-size: 2.4rem;
    border: 1px solid rgb(46, 71, 87);
    border-radius: 0.4rem;
    padding: 1rem;
    width: 30%;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1rem 0 rgba(92, 175, 176, 0.5);
    transform: translate(-0.1rem);
    transition: transform 200ms;
}